doctype html
html
  head
    meta(charset='utf-8')
    title Allen Nelson's WebBlargh
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' type='text/css' href='css/font-awesome.css')
    link(rel='stylesheet' type='text/css' href='css/style.css')
    link(href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css')
  body
    #nav-bar
      ul#nav-links
        li #[a(href='#') About]
        li #[a(href='#') Latest]
        li #[a(href='#') Contact]
        li #[a(href='http://github.com/thinkpad20') Github]

    #main
      hgroup#site-title
        h1.main-title
          span Allen's
          span.first  web
          span.second blargh
        h4.subtitle Thoughts and feelings on computer science.
        h4.subtitle A blog that I wrote from scratch.
        h4.subtitle Which, unfortunately, is probably obvious.
      #post-text
        block post
      #end-nav
        span.previous
          a(href='#')
            i.fa.fa-caret-left
            span  Previous post
        span.next
          a(href='#')
            span Next post&nbsp;
            i.fa.fa-caret-right
    script(src='http://code.jquery.com/jquery.min.js')
